doctype html
html(lang="es")
    head
        meta( charset='utf-8' ) 
        block title
            title El titulo de la pagina
        meta( name='description', content='' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )

        meta( property="og:title" content="" )
        meta( property="og:type" content="" )  
        meta( property="og:url" content="" )
        meta( property="og:image" content="/images/")

        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='format-detection' content='telephone=no' )
        meta( property="og:description" content="")
        link(rel='shortcut icon' href='/images/' type='image/vnd.microsoft.icon')
        
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        link(href="/assets/css/style.css", rel="stylesheet")
        link(href="https://unpkg.com/swiper/swiper-bundle.min.css", rel="stylesheet")
        link(href="https://unpkg.com/beerslider/dist/BeerSlider.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/taggd/4.0.0/taggd.css", rel="stylesheet")
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->



    body

        //- mixins file
        include ../template-parts/mixins.pug

        block nabvar
        include ../template-parts/navbar.pug 

        .main
            //- body block content
            block contenido


        // /.main

        block footer
        include  ../template-parts/footer.pug
        // /footer 

                
        //- Page transitions js
        include  ../template-parts/js-body-ends.pug

