//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
    title Inspirame - Corona
block contenido
    .container
        .row.justify-content-center
            .col-xl-9.col-lg-10.mx-auto
                header.entry-header.alignwide.pt-45
                    h1.entry-title
                        |5 consejos para elegir qué color de boquilla queda mejor en los espacios de tu casa
                .row.g-0.border-bottom.pb-4
                    .col-md-6.g-0
                        .entry-autor
                            span Por: 
                            |Equipo editorial Corona
                        .entry-rol
                            |Equipo editorial
                    .col-md-6.text-end.g-0.d-none.d-md-block
                        .entry-share
                            |Comparte este contenido en:
                .row.pt-2
                    .col-12.d-inline-flex.align-items-center
                        .entry-date.border-end.pe-4
                            |Abril 8, 2019
                        .entry-tags.d-inline-flex.align-items-center
                            span.inline-block.ps-3 En: 
                            nav.nav(aria-label='Secondary navigation')
                                a.nav-link(href='#') Hogar
                                a.nav-link(href='#') Diseño
                                a.nav-link(href='#') Hogar
                .row
                    .col-12
                        p.entry-resumen.pt-5 Un buen truco para que los ambientes de tu casa tengan un aspecto más natural y moderno es logrando que las boquillas o juntas (material adhesivo entre baldosa y baldosa) que usas al momento de instalar tus pisos y paredes sean casi invisibles.
                            
    .entry-content
        .container
            .row.justify-content-center
                .col-lg-11.mx-auto.text-center.py-30
                    picture
                        source(media="(min-width: 1280px)" srcset="/assets/images/boquilla-para-piso-estudio_w_1280.jpg")
                        source(media="(min-width: 1279.98px)" srcset="/assets/images/boquilla-para-piso-estudio_w_375@2x.jpg")
                        source(media="(max-width: 576px)" srcset="/assets/images/boquilla-para-piso-estudio_w_375.jpg")
                        img(src="/assets/images/boquilla-para-piso-estudio_w_375@2x.jpg" alt="Descripción Imagen" class="img-fluid w-100" loading="lazy")
                        span.blockquote-footer Leyenda de imagen
                .col-xl-7.col-lg-10.mx-auto
                    p Un buen truco para que los ambientes de tu casa tengan un aspecto más natural y moderno es logrando que las boquillas o juntas (material adhesivo entre baldosa y baldosa) que usas al momento de instalar tus pisos y paredes sean casi invisibles.
                .col-xl-7.col-lg-10.mx-auto 
                    p Existe una amplia gama de colores para juntas. Antes de elegir alguno, toma en cuenta las siguientes recomendaciones:
                    h2 Para empezar, ten en cuenta la tonalidad del piso o pared
                    p Es ideal usar un color de junta en la decoración de baños que se asemeje al color del revestimiento. Por ejemplo, si el piso que vas a instalar es blanco usa una junta blanca, pero si por el contrario el piso es negro usa una junta negra, o busca un color que se asemeje a la tonalidad del producto.
                    p Si haces esto lograrás que tu espacio se vea mucho más amplio, uniforme y hace que resalte más la belleza de tu piso o pared.
                .col-lg-9.mx-auto.text-center.py-30
                    picture
                        source(media="(min-width: 576px)" srcset="/assets/images/boquillas-para-piso-de-bano_w_375@2x.jpg")
                        source(media="(max-width: 575.98px)" srcset="/assets/images/boquillas-para-piso-de-bano_w_375.jpg")
                        img(src="/assets/images/boquillas-para-piso-de-bano_w_375@2x.jpg" alt="Ambiente baño Corona" class="img-fluid w-100" loading="lazy")
                        span.blockquote-footer Ambiente baño Corona
                .col-xl-7.col-lg-10.mx-auto 
                    h2 La importancia de los detalles
                    p Mira el diseño que tiene tu producto detalladamente y selecciona entre las diferentes opciones de junta o boquilla cuál es el color ideal, recuerda que en los revestimientos, la junta se vuelve parte del diseño.
                    //.col-lg-9.mx-auto.text-center.py-30
                    //picture
                    //    source(srcset='/assets/images/hero-articulo.jpg' type='image/svg+xml')
                    //    img.img-fluid.rounded-1(src='/assets/images/hero-articulo.jpg' alt='Imagen de prueba')
                    //    span.blockquote-footer Leyenda de imagen
                .col-xl-7.col-lg-10.mx-auto 
                    h2 Combinación de colores en la pared
                    p Si lo que quieres es resaltar tus espacios con paredes en dos o más colores y acompañarlo con una base decorada, lo recomendable es poner el color de la junta según el color de la pared. Evita usar solo el color de la junta que combina con la pared más clara, no importa que uses dos colores de boquilla/junta, esto va a permitir que tu espacio se vea más armonioso, moderno y con un acabado más profesional.
                    p También puedes leer: <a href="">Cambia el color a tus juntas y devuélvele la vida a tus espacios</a>
                .col-lg-9.mx-auto.text-center.py-30
                     picture
                        source(media="(min-width: 576px)" srcset="/assets/images/revestimiento-para-pared_w_375@2x.jpg")
                        source(media="(max-width: 575.98px)" srcset="/assets/images/revestimiento-para-pared_w_375.jpg")
                        img(src="/assets/images/revestimiento-para-pared_w_375@2x.jpg" alt="Ambiente baño Corona" class="img-fluid w-100" loading="lazy")
                        span.blockquote-footer Revestimiento Corona
                .col-xl-7.col-lg-10.mx-auto 
                    h2 Busca ayuda de expertos
                    p Si deseas que tu instalación quede perfecta busca ayuda de un experto, visita nuestras tiendas <strong>CORONA</strong> donde podrás encontrar personas especializadas en el tema y pide que te muestren la gama de colores de las boquillas existentes, por ejemplo, <strong>CONCOLOR®</strong> cuenta con una amplia gama de colores que se pueden adaptar a tus necesidades.
                    //.col-lg-9.mx-auto.text-center.py-30
                    //picture
                    //    source(srcset='/assets/images/hero-articulo.jpg' type='image/svg+xml')
                    //    img.img-fluid.rounded-1(src='/assets/images/hero-articulo.jpg' alt='Imagen de prueba')
                    //    span.blockquote-footer Gama de colores Corona
                .col-xl-7.col-lg-10.mx-auto 
                    p Si quieres que tus espacios se vean más naturales, elegir el color adecuado de junta es fundamental para lograr ambientes uniformes y con un acabado más profesional.

                .col-xl-7.col-lg-10.mx-auto.border-top.pt-2.pb-5.justify-content-between.d-flex
                    .entry-tags.d-inline-flex.align-items-center
                        span.inline-block En: 
                        nav.nav(aria-label='Secondary navigation')
                            a.nav-link.text-before-none(href='#') Hogar
                            a.nav-link.text-before-none(href='#') Diseño
                            a.nav-link.text-before-none(href='#') Hogar
                    .entry-share
                            |Comparte este contenido en:

    // /.entry-content

   



    footer.entry-footer.default-max-width
