//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
    title Inspirame - Corona
block contenido
    .container
        .row.justify-content-center
            .col-xl-7.col-lg-10.mx-auto
                header.entry-header.alignwide.pt-45
                    h1.entry-title
                        |Un hogar ordenado, mejora tu vida
                .row.g-0.border-bottom.pb-4
                    .col-md-6.g-0
                        .entry-autor
                            span Por: 
                            |Camila Hadad
                        .entry-rol
                            |Corona Insírame
                    .col-md-6.text-end.g-0.d-none.d-md-block
                        .entry-share
                            |Comparte este contenido en:
                .row.pt-2
                    .col-12.d-inline-flex.align-items-center
                        .entry-date.border-end.pe-4
                            |Febrero 20,2021
                        .entry-tags.d-inline-flex.align-items-center
                            span.inline-block.ps-3 En: 
                            nav.nav(aria-label='Secondary navigation')
                                a.nav-link(href='#') Wallpapers
                                a.nav-link(href='#') Nature
                .row
                    .col-12
                        p.entry-resumen.pt-5 Hoy los hilos se entrelazan y se crea un mensaje comunal que nos identifica esta es la entradilla  o resumen del articulo y se crea un mensaje comunal que nos identifica.                         
    .entry-content
        .container
            .row.justify-content-center
                .col-lg-11.mx-auto.text-center.py-30
                    picture
                        source(srcset='/assets/images/hero-articulo.jpg' type='image/svg+xml')
                        img.img-fluid.rounded-1(src='/assets/images/hero-articulo.jpg' alt='Imagen de prueba')
                        span.blockquote-footer Quidam officiis similique sea ei
                .col-xl-7.col-lg-10.mx-auto
                    p Desde regresar al origen mismo, hasta disfrutar la libre expresión; todo se abarca dentro de las <a href="">Macro Tendencias de Diseño 2020</a>. Por eso, son el punto de partida más certero para remodelar <strong>tu hogar y crear espacios llenos de riqueza estética, historia,</strong> fundamento y lo más importante, llenos de ti. Queremos que te embarques en un viaje por las 4 corrientes que rigen este año y que al final de este artículo, puedas escoger con la que más te identifiques para que empieces a transformar tus espacios.
                    p Podrás ver como los colores, materiales y diferentes combinaciones crean ambientes completamente distintos con intenciones y estados muy propios de cada uno. De la mano de cada tendencia cambiar tus espacios será un proceso mucho más fácil y estamos seguros que quedarás enamorado con la renovación. Ahora sí ¡Empecemos!
                    h2 Solsticio: Vivir la emoción de las vacaciones dentro de tu hogar
                    p Para muchos, el hogar es un templo de desconexión del mundo exterior, es donde cada uno tiene ese espacio hecho a imagen y semejanza de un lugar donde la única palabra que lo describe es descanso y donde se transmiten sensaciones de paz y tranquilidad. Si tú eres una de esas personas, esta tendencia es definitivamente la que deberías llevar a la realidad en tu casa. <strong>Solsticio</strong> nos invita a trasladar los colores de paisajes costeros y las decoraciones y grafías del verano al interior del hogar. Tendrás elementos que evoquen viajes a lugares como la costa italiana como decoración y convertirás tus espacios en unos muy modernos con un toque retro ¡Inigualable! Conoce más acerca de solsticio entrando aquí: Solsticio: <a href="">la emoción de vivir unas eternas vacaciones</a>.
                .col-xl-10.col-xxl-9.mx-auto.text-center.py-30
                    // start .swiper-container
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                picture
                                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
                                    source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
                                    img(src="/assets/images/slide-1_w_470.jpg" alt="Descripción Imagen" class="img-fluid w-100 swiper-lazy")
                                    .swiper-lazy-preloader
                                    span.blockquote-footer Quidam officiis similique sea ei
                            // /.swiper-slide
                            .swiper-slide
                                picture
                                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
                                    source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
                                    img(src="/assets/images/slide-2_w_470.jpg" alt="Descripción Imagen" class="img-fluid w-100 swiper-lazy")
                                    .swiper-lazy-preloader
                                    span.blockquote-footer Quidam officiis similique sea ei
                            .swiper-slide

                                picture
                                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
                                    source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
                                    img(src="/assets/images/slide-1_w_470.jpg" alt="Descripción Imagen" class="img-fluid w-100 swiper-lazy")
                                    .swiper-lazy-preloader
                                    span.blockquote-footer Quidam officiis similique sea ei
                            // /.swiper-slide
                            .swiper-slide
                                picture
                                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
                                    source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
                                    img(src="/assets/images/slide-2_w_470.jpg" alt="Descripción Imagen" class="img-fluid w-100 swiper-lazy")
                                    .swiper-lazy-preloader
                                    span.blockquote-footer Quidam officiis similique sea ei
                            // /.swiper-slide
                                
                        .swiper-button-next
                        .swiper-button-prev
                        .swiper-pagination
                        // /.swiper-wrapper
                    // end /.swiper-container

                .col-xl-7.col-lg-10.mx-auto
                    h2 80’s Glam: Espacios llenos de brillo y personalidad
                    p La nostalgia ochentera es algo que muchos sentimos, era una época en donde la cultura dance marcaba el ser de cada uno y donde el Glam era algo que todos incorporaban como parte de su personalidad; un tiempo que, definitivamente, es digno de volver a vivir. Para traer de vuelta todo el poder de los 80´s llega esta tendencia, donde se muestra cómo era el futuro que las personas que vivieron en los ochenta se imaginaban. Un futuro no muy lejano a lo que ellos vivieron, pero al que se incorporaba la tecnología para lograr que los colores se mezclaran con los reflejos de juegos de luces para crear espacios modernos donde el brillo es el protagonista definitivo. Si te gusta esta tendencia y quieres explorarla más te invitamos a leer: <a href="">80s glam, una tendencia imaginada por la cultura dance</a>.
                    p
                        .ratio.ratio-16x9
                            iframe(src='https://www.youtube.com/embed/zpOULjyy-n8?rel=0' title='YouTube video' allowfullscreen='')
                    p Valorar la riqueza de los materiales sin intervenirlos, encontrar la verdadera belleza dentro de las vetas de los mármoles, las texturas de las piedras y el granito es la invitación de Génesis.
                    figure
                        blockquote.blockquote
                            p Valorar la riqueza de los materiales sin intervenirlos, encontrar la verdadera belleza dentro de las vetas de los mármoles, las texturas de las piedras y el granito es la invitación de Génesis”
                        figcaption.blockquote-footer
                            | Quidam officiis 
                            cite(title='Source Title') similique sea ei 
                    p Aquí, el material tiene el absoluto poder para ser el gran protagonista de los espacios sin necesidad de tener formas muy elaboradas, la simplicidad es clave para apreciar lo realmente importante. Espacios que no necesitan mucha decoración porque esta, está dentro de los pisos y paredes de los mismos; con uno o dos toques metalizados tendrás la combinación perfecta de colores naturales y brillantes creando ambientes realmente sofisticados. Lleva esta tendencia a tu hogar y lee más de esta tendencia en: <a href="">Génesis: tendencia neoclásica que lleva al origen.</a>
                .col-xl-7.col-lg-10.mx-auto.border-top.pt-2.pb-5.justify-content-between.d-flex
                    .entry-tags.d-inline-flex.align-items-center
                        span.inline-block En: 
                        nav.nav(aria-label='Secondary navigation')
                            a.nav-link.text-before-none(href='#') Hogar
                            a.nav-link.text-before-none(href='#') Diseño
                            a.nav-link.text-before-none(href='#') Hogar
                    .entry-share
                            |Comparte este contenido en:

    // /.entry-content
    include ../template-parts/productos-corona.pug 
