//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends pug/page-templates/tpl_master.pug

block title
    title Inspirame - Corona
block contenido
    
















    

















            






















    

            



    

            

    