//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends pug/page-templates/tpl_master.pug

block title
	title Inspirame - Corona

block contenido
	section.entry-loop.pt-45.pb-50.position-relative.bg-white
		.container
			.row.justify-content-between
				include pug/template-parts/entradas-aldia.pug 	
				include pug/template-parts/entradas-pills.pug 
	section.entry-form.pt-45.pb-50.position-relative.bg-white
		.container
			.row.justify-content-between.bg-light.py-5.rounded
				.col-md-4
				.col-md-7.pe-sm-5
					h2.fw-normal.text-primary-dark.mb-1 Suscríbete a nuestro boletín
					p.text-primary-gray.border-bottom.pb-2.mb-2 !No te pierdas nunca una publicacion!
					.row.mt-4
						.col
							label.form-label(for='exampleFormControlInput1') Nombre Completo
							input.form-control(type='text' placeholder='Nombre Completo' aria-label='Nombre Completo')
						.col
							label.form-label(for='exampleFormControlInput1') Teléfono de contácto
							input.form-control(type='text' placeholder='Teléfono de contácto' aria-label='Teléfono de contácto')
						.col-12.mt-3
							label.form-label(for='exampleFormControlInput1') Correo electrónico
							input.form-control(type='email' placeholder='name@example.com' aria-label='name@example.com')
						.col.mt-2
							.form-check
								input#flexCheckDefault.form-check-input(type='checkbox' value='')
								label.form-check-label(for='flexCheckDefault')
								| Autorizo el tratamiento de mis datos de acuerdo a los siguientes <a href="">términos</a>

	
















	

















			






















	

			



	

			

	