//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends pug/page-templates/tpl_master.pug

block title
	title Inspirame - Corona

block contenido
	section.entry-loop.pt-45.pb-50.position-relative.bg-white
		.container
			.row.justify-content-between
				include pug/template-parts/entradas-aldia.pug 	
				include pug/template-parts/entradas-pills.pug 
	include pug/template-parts/form-box.pug 
	

	
















	

















			






















	

			



	

			

	