
// -----------------------------------------------------------------------------
// This file contains custom scss Body Text.
// -----------------------------------------------------------------------------

.entry{
	&-title{
		font-size: $size-50;
		color:var(--bs-dark);
		padding-bottom: 30px;
		@media (min-width: $break-xxl) {
			padding-right:15rem !important;

		}
		@media (min-width: $break-xl) {
			padding-right:10rem;

		}
		@media (max-width: $break-md) {
			font-size: $size-40;

		}
	}
	&-autor{
		font-size: $size-14;
		color:var(--bs-dark);
		position:relative;
		padding-left: 2rem;
		span{
			color: var(--bs-gray-dark)
		}
		&::before{
			content: url('/assets/images/icons/icon-autor-dark.svg');
			left:6px;
			position: absolute;

		}
		&::after{
			content: '';
			position:absolute;
			left:0;
			top:-2px;
			width: 24px;
			height: 24px;
			border:1px solid $color-negro-10;
			border-radius: 50%;
		}
	}
	&-rol{
		font-size: $size-14;
		color:var(--bs-gray-dark);
		padding-left: 2rem;
	}
	&-share{
		font-size: $size-14;
		color:var(--bs-gray-dark);
	}
	&-date{
		font-size: $size-14;
		color:var(--bs-gray-dark);
		position:relative;
		padding-left: 1.5rem;
		&::before{
			content: url('/assets/images/icons/icon-date-dark.svg');
			top:2px;
			left:0px;
			position: absolute;

		}
	}
	&-tags{
		span{
			font-size: $size-14;
			font-weight: 400;
		}
		.nav-link{
			font-size: $size-14;
			color:var(--bs-gray-dark);
			background-color:var(--bs-light-120);
			border-radius: 10px;
			padding: 0.1rem 0.4rem;
			border:1px solid var(--bs-light-120);
			margin-left: 0.4rem;
			&:hover{
				border:1px solid var(--bs-primary);
				background-color:var(--bs-white);
				text-decoration: none;
				color:var(--bs-primary);
			}
		}
	}
	&-resumen{
		font-size: $size-18;
		color: var(--bs-primary-dark);
		margin-bottom: 0;
	}
	&-comments{
		font-size: $size-14;
		color:var(--bs-gray-dark);
		position:relative;
		padding-left: 1.3rem;
		&::before{
			content: url('/assets/images/icons/icon-comments.svg');
			top:5px;
			left:0px;
			position: absolute;

		}
	}
	&-content{
		font-size: $size-19;
		color: var(--bs-gray-dark);
		font-weight:300;
		line-height: 1.6;
		@media (max-width: $break-md) {
			font-weight:400;

		}
		strong{
			font-weight:500;
		}
		h2{
			color: var(--bs-dark);
			font-weight: 400;
			padding-bottom: $size-24;
			@media (max-width: $break-md) {
				font-weight: 500;
			}
		}
		p{
			padding-bottom: $size-24;
			@media (max-width: $break-md) {
				margin-bottom: 0;
			}
		}
		a{
			font-weight: 400;
			color: var(--bs-primary);
			position:relative;
			//text-decoration: underline;
			border-bottom: 1px solid var(--bs-primary);
			//box-shadow:
		    //inset 0 -0.175em white,
		    //inset 0 -0.2em var(--bs-primary);
			&:hover{
				text-decoration: none;
				opacity: 0.8;
			}
		}
		.blockquote{
			font-size: $size-20;
			color: $color-negro-80;
			padding-left:3.7rem;
			font-weight: 400;
			position:relative;
			padding-right:20%;
			&::before{
				content: '';
				position:absolute;
				left:0;
				top:15px;
				width: 30px;
				height: 1px;
				background-color:$color-negro-80;
			}
			p{
				&::before{
					content: url('/assets/images/start-blockquote.png');
					position:absolute;
					left: 2.4rem;
					top: -10px;
				}
			}

		}
		figcaption.blockquote-footer{
			padding-left:3.7rem;
			display: block;
		}
		.blockquote-footer{
			font-size:$size-14;
			padding-bottom: $size-24;
			display: block;
			margin-top: 1rem;
			&::before{
				color:var(--bs-primary);
			}
		}


	}

}

