// -----------------------------------------------------------------------------
// This file contains custom scss utilities.
// -----------------------------------------------------------------------------

.bg-light{
	background-color: var(--bs-light) !important;
}
.pt-45{
	padding-top: $size-45;
}
.pb-50{
	padding-bottom: $size-50;
}
.py-30{
	padding: $size-45 0;
}
.text-before-none{
	&::before{
		content: '';
		background-color: transparent !important;
	}
}
.d-overflow{
	overflow: hidden;
}
