// -----------------------------------------------------------------------------
// This file contains custom scss utilities.
// -----------------------------------------------------------------------------

.bg-light{
	background-color: var(--bs-light) !important;
}
.bg-light-120{
	background-color: var(--bs-light-120) !important;
}
.bg-primary{
	background-color: var(--bs-primary) !important;
}
.bg-dark{
	background-color: var(--bs-dark) !important;
}
.pt-45{
	padding-top: $size-45;
}
.pb-50{
	padding-bottom: $size-50;
}
.py-30{
	padding: $size-45 0;
}
.text-before-none{
	&::before{
		content: '';
		background-color: transparent !important;
	}
}
.d-overflow{
	overflow: hidden;
}
.text-primary{
	color:var(--bs-primary) !important;
}
.text-primary-dark{
	color:var(--bs-dark) !important;
}
.text-primary-gray{
	color:var(--bs-gray-dark);
}
.fs-xs{
	font-size: $size-13;
	color:$color-negro-30 !important;
}
.btn-outline-primary {
    color:var(--bs-primary) !important;
    border-color:var(--bs-primary) !important;
    font-size: $size-14;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    border-width:2px;
    &:hover{
    	background-color:var(--bs-primary) !important;
    	color:var(--bs-white)  !important;
    	text-decoration: none;
    }
    &--white{
    	border-color:$color-negro-0 !important;
    	color: $color-negro-0 !important;
    	padding-top: 0.7rem;
    	padding-bottom: 0.7rem;	
    	border-width:2px;
    }
    &.active{
    	background:var(--bs-primary) !important;
    }
}
.btn-encuesta{
	color:var(--bs-primary) !important;
	padding: 0;
	border-radius:0;
	&:hover{
		border-bottom:1px solid;
	}
}
.icon-modal{
	position: relative;
	width: 20px;
	height: 18px;
	display: inline-block;
	&::before{
			content: url('/assets/images/icons/icon-modal-blue.svg');
			position:absolute;
			left: 0;
			top:0px;
	}
}
.btn{
	&:hover .icon-modal{
		&::before{
			content: url('/assets/images/icons/icon-modal.svg');
		}
	}

}
.fw-es{
	font-size: $size-14;
}
.lh-es{
	line-height: 0.9;
}
.border-footer{
	border-left:1px solid var(--bs-primary);
	border-right:1px solid var(--bs-primary);

}
.gradient-overlay{
	position: relative;
	&::before {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    border-radius: inherit;
	    z-index: 1;
	    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0) 100%);
	}
}
//lift animation

.lift {
	-webkit-transition: box-shadow .25s ease, -webkit-transform .25s ease;
	transition: box-shadow .25s ease, -webkit-transform .25s ease;
	transition: box-shadow .25s ease, transform .25s ease;
	transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease
}

.lift:focus,
.lift:hover {
	box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1)!important;
	transform: translate3d(0, -3px, 0);

}

.lift-lg:focus,
.lift-lg:hover {
	box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05)!important;
	transform: translate3d(0, -7px, 0);
	
}

//overlay
.overlay{
	position: relative;
	&::before {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    border-radius: inherit;
	    z-index: 0;
	    background: $color-negro-100;
	}
	&-black::before {
    	background-color: #161c2d;
	}
	&-80::before {
    	opacity: .8;
	}
	&-60::before {
    	opacity: .6;
	}
	&-40::before {
    	opacity: .4;
	}
	&-30::before {
    	opacity: .3;
	}

	&-20::before {
    	opacity: .2;
	}

}

//ratio
.ratio-5x4 {
    --aspect-ratio: calc(5 / 4 * 100%);
    @media (max-width: $break-lg) {
    	--aspect-ratio: calc(3 / 4 * 100%);
    }
}