
// -----------------------------------------------------------------------------
// This file contains custom scss header.
// -----------------------------------------------------------------------------
.main{
	background: $color-negro-0;
	@media (min-width: 768px){
		margin-bottom: 340px;
	}
}
footer{
	@media (min-width: $break-md){
	    position: fixed !important;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    z-index: -1 !important;
	}
	.col1{
		@media (max-width: $break-md){
			text-align: center;
			.footer-social{
				justify-content: center;
				margin-bottom: 2rem;
			}
		}
	}
	.col2{
		a{
			font-size: $size-14;
		}
	}
	.col3{
		p{
			text-align: right;
			@media (max-width: $break-md){
				text-align: center;
			}
		}
		
	}
}