
// -----------------------------------------------------------------------------
// This file contains custom scss swiper.
// -----------------------------------------------------------------------------
div[class*="entry-"]{
	.swiper-container{
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $break-md) {
			overflow: initial;
		}
		.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
			@media (max-width: $break-md) {
				overflow: initial;
				width:90% !important;

			}
		}
		.swiper-button-next,
		.swiper-button-prev{
			background:var(--bs-white);
			border:1px solid $color-negro-20;
			width: calc(var(--swiper-navigation-size)/ 44 * 44) !important;
			border-radius: 2px;
			top:45%;
			&:after{
				top: -12px;
				position: absolute;
			}
		}
		.swiper-button-next{
			right: -10px;
			&:after{
				content: url('/assets/images/icons/icon-next-slide.svg') !important;
			}
			@media (max-width: $break-md) {
				display: none;
			}
		}
		.swiper-button-prev{
			left: -10px;
			&:after{
				content: url('/assets/images/icons/icon-prev-slide.svg') !important;
			}
			@media (max-width: $break-md) {
				display: none;
			}
		}
	}
}
.swiper-container-entradas{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $break-md) {
		overflow: initial;
	}
	.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
		@media (max-width: $break-md) {
			overflow: initial;
			width:90% !important;

		}
	}
	.swiper-button-next,
	.swiper-button-prev{
		background:var(--bs-white);
		border:1px solid $color-negro-20;
		width: calc(var(--swiper-navigation-size)/ 44 * 44) !important;
		border-radius: 2px;
		top:45%;
		&:after{
			top: -12px;
			position: absolute;
		}
	}
	.swiper-button-next{
		right: 0px;
		&:after{
			content: url('/assets/images/icons/icon-next-slide.svg') !important;
		}
		@media (max-width: $break-md) {
			display: none;
		}
	}
	.swiper-button-prev{
		left: 0px;
		&:after{
			content: url('/assets/images/icons/icon-prev-slide.svg') !important;
		}
		@media (max-width: $break-md) {
			display: none;
		}
	}
}

.swiper-container-hero{
	overflow: hidden;
	position:relative;
	.swiper-slide {
      	text-align: center;
      	font-size: 18px;
      	background: #fff;
      	width: 95%;

      	.d-grid{
      		grid-template-columns: 1fr;
      	}
      	picture{
      		grid-area: 1 / 1 / 1 / 1;
      	}
      	.container{
      		grid-area: 1 / 1 / 1 / 1;
      		position:relative;
      		text-align: left;
      		height: 60vh;
      		.entry-date{
      			&::before{
      				content: url(/assets/images/icons/icon-date-light.svg);
      			}
      		}
      	}
      	@media (max-width: $break-md) {
				height: 70vh;
				picture{

		      		width: 100%;
			  		height: 100%;
			  		display: flex;
				    	img{	
				    	  	object-fit: cover; 
				    		height: 70vh;
				    		width:100%;
			      		}
			      	}
			}
      	@media (min-width: $break-md) {
      		height: 60vh;
      		picture{

      		width: 100%;
	  		height: 100%;
	  		display: flex;
		    	img{	
		    	  	object-fit: cover; 
		    		height: auto;
		    		width:100%;
		    		object-position: left top;
	      		}
	      	}

      	}

    }
    .swiper-button-next,
	.swiper-button-prev{
		background:var(--bs-white);
		//border:1px solid $color-negro-20;
		width: 60px!important;
		height: 60px;
		border-radius: 0;
		top: initial;
		bottom:0;
		&:after{
			top: -12px;
			position: absolute;
		}
	}
    .swiper-button-next{
		left: 95%;
		border-top-right-radius: 2px;
		&:after{
			content: url('/assets/images/icons/icon-next-slide.svg') !important;
			top:0;
		}
		@media (max-width: $break-md) {
			left:calc(100% - 60px) !important;
		}
	}
	.swiper-button-prev{
		border-top-left-radius: 2px;
		left:calc(95% - 61px) !important;

		&:after{
			content: url('/assets/images/icons/icon-prev-slide.svg') !important;
			top:0;
		}
		@media (max-width: $break-md) {
			left:calc(100% - 120px) !important;
		}
	}
	.swiper-pagination{
		display: inline-flex;
		width: auto;
		margin-left: 5%;
		color: $color-negro-0;
		letter-spacing: 2px;
		&-fraction{
			display: block;
			font-size: 1.2rem;
			line-height: 1;
			color: transparent;
			span{
				display: block;
				font-size: $size-15;
				position:relative;
				color: $color-negro-0;
				font-weight: 300;
				&.swiper-pagination-current{
					font-weight: 500;
				}
				&:first-child{
					position:relative;
					&::before{
						width: 25px;
				        height: 25px;
				        border-bottom: 1px solid $color-negro-0;
				        -webkit-transform:
			            	translateY(-20px)
			            	translateX(5px)
			            	rotate(-33deg); 
				        position: absolute;
				        content: '';
				        top: 1.4rem;
				        left: -20px;
					}
				}
			}
		}
	}

}
