section.entry-relacionadas.pt-4.pt-md-0.pb-50.position-relative.bg-light-120
	.container
		.row
			.col-12.justify-content-between.d-md-flex.mb-1.align-items-end
				.col-md-6.mt-md-5.mt-3
					.entry-productos--title
						h2.display-5.mb-md-5.mb-3.fw-bolder !Imprescindibles!
					.entry-resumen.text-muted.lh-sm.fw-light
						|Conoce las últimas tendencias en decoración, estilos y formas de convertir cada uno de los espacios de tu casa en el espacio que siempre quisiste.
				.col-md-3.mt-md-5.mt-3
					span.progress-num 1 de 4
					.progress.mb-3
						.progress-bar(role='progressbar' style='width: 20%;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')


		.row
			.col-12.d-overflow.position-relative.mt-4
				// start .swiper-container
				.swiper-container-entradas
					.swiper-wrapper
						.swiper-slide.d-flex.align-items-stretch
							.card
								.card-image.d-overflow
									picture
										source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
										source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
										img(src="/assets/images/slide-1_w_375.jpg" alt="Descripción Imagen" class="img-fluid swiper-lazy")
										.swiper-lazy-preloader
								.card-body
									.card-date
										.entry-date.mb-2
											|Febrero 20,2021
									.card-title
										a(href="" class="stretched-link") Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
									.entry-autor
										span Por: 
											|Camila Hadad
								.card-footer.justify-content-between.d-lg-flex.flex.d-none
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5
						// /.swiper-slide
						.swiper-slide.d-flex.align-items-stretch
							.card
								.card-image.d-overflow
									picture
										source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
										source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
										img(src="/assets/images/slide-2_w_470.jpg" alt="Descripción Imagen" class="img-fluid swiper-lazy")
										.swiper-lazy-preloader
								.card-body
									.card-date
										.entry-date.mb-2
											|Febrero 20,2021
									.card-title
										a(href="" class="stretched-link") Lleva la tranquilidad y el balance a tu casa  con alma serena
									.entry-autor
										span Por: 
											|Camila Hadad
								.card-footer.justify-content-between.d-lg-flex.flex.d-none
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5
						// /.swiper-slide
						.swiper-slide.d-flex.align-items-stretch
							.card
								.card-image.d-overflow
									picture
										source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
										source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
										img(src="/assets/images/slide-1_w_470.jpg" alt="Descripción Imagen" class="img-fluid swiper-lazy")
										.swiper-lazy-preloader
								.card-body
									.card-date
										.entry-date.mb-2
											|Febrero 20,2021
									.card-title
										a(href="" class="stretched-link") Renueva tus espacios según la tendencia natural
									.entry-autor
										span Por: 
											|Camila Hadad
								.card-footer.justify-content-between.d-lg-flex.flex.d-none
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5

						// /.swiper-slide
						.swiper-slide
							.card
								.card-image.d-overflow
									picture
										source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
										source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
										img(src="/assets/images/slide-2_w_470.jpg" alt="Descripción Imagen" class="img-fluid swiper-lazy")
										.swiper-lazy-preloader
								.card-body
									.card-date
										.entry-date.mb-2
											|Febrero 20,2021
									.card-title
										a(href="" class="stretched-link") Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
									.entry-autor
										span Por: 
											|Camila Hadad
								.card-footer.justify-content-between.d-lg-flex.flex.d-none
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5

						// /.swiper-slide
							
					.swiper-button-next
					.swiper-button-prev
					.swiper-pagination
					// /.swiper-wrapper
				// end /.swiper-container
	// /.container		
// /.entry-relacionadas