section.entry-pills.col-md-5.col-xl-3
	.row
		ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
			li.nav-item(role='presentation')
				button#pills-1-tab.nav-link.active.me-3.btn.btn-outline-primary(data-bs-toggle='pill' data-bs-target='#pills-1' type='button' role='tab' aria-controls='pills-1' aria-selected='true') Popular
			li.nav-item(role='presentation')
				button#pills-2-tab.nav-link.btn.btn-outline-primary(data-bs-toggle='pill' data-bs-target='#pills-2' type='button' role='tab' aria-controls='pills-2' aria-selected='false') Más leído
		#pills-tabContent.tab-content.g-md-0
			#pills-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-1-tab') 
				.card.p-0.border-0
					.card-body.p-0.border-bottom.pb-3.mb-3
						.card-date
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
				// /.card
				.card.p-0.border-0
					.card-body.p-0.border-bottom.pb-3.mb-3
						.card-date
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|LLeva la tranquilidad y el balance a tu casa con alma serena
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
				// /.card
				.card.p-0.border-0
					.card-body.p-0.border-bottom.pb-3.mb-3
						.card-date
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Renueva tus espacios según la tendencia reverencia natural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
				// /.card
			#pills-2.tab-pane.fade(role='tabpanel' aria-labelledby='pills-2-tab')
				.card.p-0.border-0
					.card-body.p-0.border-bottom.pb-3.mb-3
						.card-date
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Renueva tus espacios según la tendencia reverencia natural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
				// /.card
				.card.p-0.border-0
					.card-body.p-0.border-bottom.pb-3.mb-3
						.card-date
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
				// /.card
				.card.p-0.border-0
					.card-body.p-0.border-bottom.pb-3.mb-3
						.card-date
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|LLeva la tranquilidad y el balance a tu casa con alma serena
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
				// /.card

// /.entry-pills