.entry-aldia.col-md-12.mb-5.mb-md-0
	.row
		.col-12.justify-content-between.d-flex.mb-1.border-bottom.pb-3
			.entry-productos--title
				h2.fw-light.mb-0.text-nowrap Más populares en <span class="text-primary"> Dashboard<sup><span class="badge bg-primary fw-light rounded-pill ms-1">25</span></sup>
	.row
		.col-sm-6.mt-4
			.card.ratio.ratio-4x3.lift.border-0.d-overflow
				.card-image.gradient-overlay.position-absolute
					picture
						source(media="(min-width: 575.98px)" srcset="/assets/images/tag1-img_w_650x487.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/tag1-img_w_375x280.jpg")
						img(src="/assets/images/tag1-img_w_650x487.jpg" alt="Descripción Imagen" loading="lazy" class="img-fluid rounded")
				.d-flex.align-items-end
					.card-body.align-self-end.px-5
						.card-date
							.entry-date.mb-2.text-white
								|Febrero 20,2021
						.card-title.text-white
							|5 beneficios de remodelar tus espacios
						.entry-autor
							span.text-white Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block my-4 text-white") Continuar Leyendo
							span
			// /.card
		.col-sm-6.mt-4
			.card.ratio.ratio-4x3.lift.border-0.d-overflow
				.card-image.gradient-overlay.position-absolute
					picture
						source(media="(min-width: 575.98px)" srcset="/assets/images/tag2-img_w_650x487.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/tag2-img_w_375x280.jpg")
						img(src="/assets/images/tag1-img_w_650x487.jpg" alt="Descripción Imagen" loading="lazy" class="img-fluid rounded")
				.d-flex.align-items-end
					.card-body.align-self-end.px-5
						.card-date
							.entry-date.mb-2.text-white
								|Febrero 20,2021
						.card-title.text-white
							|Colores del 2021, combinación llena de energía y fuerza
						.entry-autor
							span.text-white Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block my-4 text-white") Continuar Leyendo
							span
			// /.card

// /.entry-aldia