.entry-relacionadas.pt-45.pb-50.position-relative
	.container
		.row
			.col-xl-9.col-lg-10.mx-auto
				.entry-productos--title
					h2.fw-normal Seguir leyendo
		.row
			.col-12.mx-auto
				// start .swiper-container
				.swiper-container2
					.swiper-wrapper
						.swiper-slide
							.card
								img(src="")
								.card-body
									.card-date
										.entry-date
											|Febrero 20,2021
									.card-title
										|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
									.card-autor
										span Por:
										|Camila Hadad
								.card-footer
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block.ps-3 En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5
						// /.swiper-slide
						.swiper-slide
							.card
								img(src="")
								.card-body
									.card-date
										.entry-date
											|Febrero 20,2021
									.card-title
										|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
									.card-autor
										span Por:
										|Camila Hadad
								.card-footer
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block.ps-3 En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5

						.swiper-slide
							.card
								img(src="")
								.card-body
									.card-date
										.entry-date
											|Febrero 20,2021
									.card-title
										|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
									.card-autor
										span Por:
										|Camila Hadad
								.card-footer
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block.ps-3 En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5

						// /.swiper-slide
						.swiper-slide
							.card
								img(src="")
								.card-body
									.card-date
										.entry-date
											|Febrero 20,2021
									.card-title
										|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
									.card-autor
										span Por:
										|Camila Hadad
								.card-footer
									.entry-tags.d-inline-flex.align-items-center
										span.inline-block.ps-3 En: 
										nav.nav(aria-label='Secondary navigation')
											a.nav-link(href='#') Hogar
											a.nav-link(href='#') Diseño
											a.nav-link(href='#') Hogar
									.entry-comments
										|5

						// /.swiper-slide
							
					.swiper-button-next
					.swiper-button-prev
					.swiper-pagination
					// /.swiper-wrapper
				// end /.swiper-container