.entry-repository-grid.col-md-12.mb-5.mb-md-0
	.row
		.col-md-6.mt-4.border-bottom.pb-4
			.card.d-flex.border-0.p-0
				.row
					.col-md-6.card-image.d-overflow
						.ratio.ratio-16x9
							picture
								source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
								source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
								img(src="/assets/images/slide-1_w_375.jpg" alt="Descripción Imagen" class="img-fluid rounded")
					.col-md-6.card-body.pt-0
						.card-date.mt-2.mt-md-0
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
			// /.card
		// /.col
		.col-md-6.mt-4.border-bottom.pb-4
			.card.d-flex.border-0.p-0
				.row
					.col-md-6.card-image.d-overflow
						.ratio.ratio-16x9
							picture
								source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
								source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
								img(src="/assets/images/slide-2_w_470.jpg" alt="Descripción Imagen" class="img-fluid rounded")
					.col-md-6.card-body.pt-0
						.card-date.mt-2.mt-md-0
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
			// /.card
		// /.col
		.col-md-6.mt-4.border-bottom.pb-4
			.card.d-flex.border-0.p-0
				.row
					.col-md-6.card-image.d-overflow
						.ratio.ratio-16x9
							picture
								source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
								source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
								img(src="/assets/images/slide-2_w_470.jpg" alt="Descripción Imagen" class="img-fluid rounded")
					.col-md-6.card-body.pt-0
						.card-date.mt-2.mt-md-0
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
			// /.card
		// /.col
		.col-md-6.mt-4.border-bottom.pb-4
			.card.d-flex.border-0.p-0
				.row
					.col-md-6.card-image.d-overflow
						.ratio.ratio-16x9
							picture
								source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
								source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
								img(src="/assets/images/slide-1_w_375.jpg" alt="Descripción Imagen" class="img-fluid rounded")
					.col-md-6.card-body.pt-0
						.card-date.mt-2.mt-md-0
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
			// /.card
		// /.col
		.col-md-6.mt-4.border-bottom.pb-4
			.card.d-flex.border-0.p-0
				.row
					.col-md-6.card-image.d-overflow
						.ratio.ratio-16x9
							picture
								source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
								source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
								img(src="/assets/images/slide-1_w_375.jpg" alt="Descripción Imagen" class="img-fluid rounded")
					.col-md-6.card-body.pt-0
						.card-date.mt-2.mt-md-0
							.entry-date.mb-2
								|Febrero 20,2021
						.card-title
							|Impregna tus espacios de cultura siguiendo la tendencia armonía cultural
						.entry-autor
							span Por: 
								|Camila Hadad
						a(href="" class="stretched-link d-inline-block mt-2") Continuar Leyendo
							span
			// /.card
		// /.col
		.col-md-6.mt-4.border-bottom.pb-4

		// /.col

// /.entry-repository-grid
.entry-pager.py-30
	nav(aria-label='Page navigation example')
		ul.pagination.justify-content-center
			li.page-item.disabled
				a.page-link.fw-light(href='#' tabindex='-1' aria-disabled='true') Anterior
			li.page-item
				a.page-link.text-primary(href='#') 1
			li.page-item
				a.page-link.text-primary(href='#') 2
			li.page-item
				a.page-link.text-primary(href='#') 3
			li.page-item
				a.page-link.text-primary(href='#') Siguiente