section.entry-aldia.col-lg-8.mb-5.mb-lg-0
	.row
		.col-12.justify-content-between.d-flex.mb-1.border-bottom.pb-3
			.entry-productos--title
				h2.fw-normal.mb-0 Ponte al día
			a(href="/blog/pages/respositorio-entradas.html" class="btn btn-outline-primary ") Ver todo
	.row
		.col-md-6.mt-4
			.card.ratio.ratio-5x4.lift.border-0
				.card-image.gradient-overlay.position-absolute
					picture
						source(media="(min-width: 575.98px)" srcset="/assets/images/ambiente4-hero_w_375x470@2x.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/ambiente4-hero_w_375x470.jpg")
						img(src="/assets/images/ambiente4-hero_w_375x470.jpg" alt="Descripción Imagen" class="img-fluid")
				.d-flex.align-items-end
					.card-body.align-self-end
						.card-date
							.entry-date.mb-2.text-white
								|Febrero 20,2021
						.card-title.text-white
							|5 beneficios de remodelar tus espacios
						a(href="" class="stretched-link d-inline-block my-4 text-white") Continuar Leyendo
							span
			// /.card
		.col-md-6.mt-4
			.card.ratio.ratio-5x4.lift.border-0
				.card-image.gradient-overlay.position-absolute
					picture
						source(media="(min-width: 575.98px)" srcset="/assets/images/ambiente6-hero_w_375x470@2x.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/ambiente6-hero_w_375x470.jpg")
						img(src="/assets/images/ambiente6-hero_w_375x470.jpg" alt="Descripción Imagen" class="img-fluid")
				.d-flex.align-items-end
					.card-body.align-self-end
						.card-date
							.entry-date.mb-2.text-white
								|Febrero 20,2021
						.card-title.text-white
							|Colores del 2021, combinación llena de energía y fuerza
						a(href="" class="stretched-link d-inline-block my-4 text-white") Continuar Leyendo
							span
			// /.card

// /.entry-aldia