footer.bg-dark.pt-45.pb-50
	.container
		.row.justify-content-around
			.col1.col-md-3.align-self-center.order-md-1.order-2
				small.text-white.fw-light.mb-2.d-block Siguenos en:
				.footer-social.d-flex
					a(href="" class="border rounded-1 me-2")
						span.icon-social
							img(src="/assets/images/icons/icon-facebook-white.svg")
					a(href="" class="border rounded-1 me-2")
						span.icon-social
							img(src="/assets/images/icons/icon-instagram-white.svg")
					a(href="" class="border rounded-1 me-2")
						span.icon-social
							img(src="/assets/images/icons/icon-pinterest-white.svg")

			.col2.col-md-6.col-lg-5.text-center.mt-3.mt-sm-0.order-md-2.order-3
				p.text-white.mb-5.fw-light
					|Haz los espacios de tus sueños realidad
				.row
					.col-4
						.d-block
						img(src="/assets/images/icons/icon-ambientes.svg")
						a(href="" class="lh-sm d-inline-block my-3 text-white fw-light") Inspírate más con nuestros ambientes
					.col-4.border-footer
						.d-block
							img(src="/assets/images/icons/icon-shopping.svg")
						a(href="" class="lh-sm d-inline-block my-3 text-white fw-light") Compra todos los productos
					.col-4
						.d-block
							img(src="/assets/images/icons/icon-price.svg")
						a(href=""  class="lh-sm d-inline-block my-3 text-white fw-light") Financia tu remodelación
				p.text-white.mb-0.mt-4.fw-es
					a(href="") Política tratamiento de datos 
					small.fw-light ©2021 Corona - Todos los derechos reservados.
			.col3.col-md-3.align-self-center.order-md-3.order-1
				p.mt-4.mt-sm-0
					img(src="/assets/images/icons/logo-corona-footer.svg")
