section.entry-suscripcion.pb-50.bg-white
	.container
		.row.justify-content-center
			.col-12.col-lg-5.text-center.pt-2
				h3.text-primary.mb-1 
					span.me-2
						img(src="/assets/images/icons/icon-send.svg")
					|Suscríbete a nuestro boletín
				p.mb-2.text-muted ¡No te pierdas nunca una publicación!
				a(href="" class="btn btn-outline-primary ")
					|Suscribirme
					span.icon-modal.ms-2


