header
	nav.navbar.navbar-light
		.container
			a.navbar-brand(href='#')
				img(src='/assets/images/icons/logo-corona-header.svg' alt='' width='70' height='70')
			.d-flex
				form.d-flex.me-2.pe-3.border-end
					input.form-control.me-2.d-none(type='search' placeholder='Search' aria-label='Search')
					button.btn(type='submit' class="p-0")
						span.icon-search
							img(src="/assets/images/icons/icon-search.svg")
				.header-social.d-flex.ms-2
					a(href="" class="border rounded-1 me-2 d-none d-sm-block")
						span.icon-social
							img(src="/assets/images/icons/facebook-icon.svg")
					a(href="" class="border rounded-1 me-2 d-none d-sm-block")
						span.icon-social
							img(src="/assets/images/icons/icon-instagram.svg")
					a(href="" class="border rounded-1 me-2 d-none d-sm-block")
						span.icon-social
							img(src="/assets/images/icons/icon-pinterest.svg")
	// /.navbar
	.nav-scroller.bg--body.shadow-sm.py-2.px-2
		.d-inline.float-start.pt-1.d-none.d-sm-block
			span.nav-scroller--label.border-end.pe-2.me-2.text-uppercase
				|tags
		nav.nav(aria-label='Secondary navigation')
			a.nav-link.active(aria-current='page' href='#') Dashboard
			a.nav-link(href='#')
				| Friends
			a.nav-link(href='#') Wallpapers
			a.nav-link(href='#') Nature
			a.nav-link(href='#') People
			a.nav-link(href='#') Architecture
			a.nav-link(href='#') Current Events
			a.nav-link(href='#') Business & Work
			a.nav-link(href='#') Fashion
			a.nav-link(href='#') Film
			a.nav-link(href='#') Health & Wellness
			a.nav-link(href='#') Interiors
			a.nav-link(href='#') Street Photography
			a.nav-link(href='#') Wallpapers
			a.nav-link(href='#') Nature
			a.nav-link(href='#') People
			a.nav-link(href='#') Architecture
			a.nav-link(href='#') Current Events
			a.nav-link(href='#') Business & Work
			a.nav-link(href='#') Fashion
			a.nav-link(href='#') Film
			a.nav-link(href='#') Health & Wellness
			a.nav-link(href='#') Interiors
			a.nav-link(href='#') Street Photography
	// /.nav-scroller
// /header





