section.entry-productos.bg-light.pt-45.pb-50
	.container
		.row
			.col-12
				.entry-productos--title
					h2.fw-normal Productos que te podrían interesar
		.row
			.col-12.col-md-6.col-lg-3.d-flex
				.card.mt-4.border-0.pb-4.lift
					img(src="/assets/images/grifo-para-lavamanos-monocontrol-pared-tisza-vista-1-TS1035551.jpg")
					.card-body
						.card-subtitle.mb-2
							|REF.: 6767ERS23
						.card-title
							a(href="" class="stretched-link") Grifería para Lavamanos Monocontrol Pared Tisza
						.card-text
							|Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem 
			.col-12.col-md-6.col-lg-3.d-flex
				.card.mt-4.border-0.pb-4.lift
					img(src="/assets/images/lavamanos-razionale.jpg")
					.card-body
						.card-subtitle.mb-2
							|REF.: 6767ERS23
						.card-title
							a(href="" class="stretched-link") Lavamanos Razionale con desagüe
						.card-text
							|Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem 
			.col-12.col-md-6.col-lg-3.d-flex
				.card.mt-4.border-0.pb-4.lift
					img(src="/assets/images/piso-zebrino.jpg")
					.card-body
						.card-subtitle.mb-2
							|REF.: 6767ERS23
						.card-title
							a(href="" class="stretched-link") Piso Zebrino Marfil Caras Diferenciadas
						.card-text
							|Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem 
			.col-12.col-md-6.col-lg-3.d-flex
				.card.mt-4.border-0.pb-4.lift
					img(src="/assets/images/regadera-koral.jpg")
					.card-body
						.card-subtitle.mb-2
							|REF.: 6767ERS23
						.card-title
							a(href="" class="stretched-link") Regadera con Brazo Koral
						.card-text
							|Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem 


