.col-xl-7.col-lg-10.mx-auto.bg-light.py-5.mb-5.entry-encuesta
    span(class="badge rounded-pill bg-warning text-dark") Ayuda quizz
    h3.mb-5.text-primary-dark.fw-normal ¿Cuales son los espacios que necesito remodelar en casa?
    span.progress-num 1 de 4
    .progress.mb-3
        .progress-bar(role='progressbar' style='width: 20%;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100') 
    // /.progress
    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
        li.nav-item.d-none(role='presentation')
            button#step-1-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#step-1' type='button' role='tab' aria-controls='step-1' aria-selected='true') paso 1
        li.nav-item.d-none(role='presentation')
            button#step-2-tab.nav-link(data-bs-toggle='pill' data-bs-target='#step-2' type='button' role='tab' aria-controls='step-2' aria-selected='false') paso 2
        li.nav-item.d-none(role='presentation')
            button#step-3-tab.nav-link(data-bs-toggle='pill' data-bs-target='#step-3' type='button' role='tab' aria-controls='step-3' aria-selected='false') paso 3
        li.nav-item.d-none(role='presentation')
            button#step-4-tab.nav-link(data-bs-toggle='pill' data-bs-target='#step-4' type='button' role='tab' aria-controls='step-4' aria-selected='false') paso 4
        li.nav-item.d-none(role='presentation')
            button#step-5-tab.nav-link(data-bs-toggle='pill' data-bs-target='#step-5' type='button' role='tab' aria-controls='step-5' aria-selected='false') paso 5
    // /#pills-tab
    form
        #pills-tabContent.tab-content
            #step-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='step-1-tab') 
                h4.fs-5.fw-normal.text-primary-dark.pb-2 1. ¿En tu casa te falta espacio o almacenamiento?
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | En ocasiones
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Con frecuencia
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi siempre
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Siempre

                // /.form check
                .border-top.mt-3.d-flex.justify-content-end.pt-2
                    button(class="btn btn-encuesta") Siguiente
            // /#step-1
            #step-2.tab-pane.fade(role='tabpanel' aria-labelledby='step-2-tab')
                h4.fs-5.fw-normal.text-primary-dark.pb-2 2. ¿Pregunta 2?
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | En ocasiones
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Con frecuencia
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi siempre
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Siempre
                // /.form check
                .border-top.mt-3.d-flex.justify-content-between.pt-2
                    button(class="btn btn-encuesta") Atrás
                    button(class="btn btn-encuesta") Siguiente
            // /#step-2
            #step-3.tab-pane.fade(role='tabpanel' aria-labelledby='step-3-tab')
                h4.fs-5.fw-normal.text-primary-dark.pb-2 2. ¿Pregunta 3?
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | En ocasiones
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Con frecuencia
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi siempre
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Siempre
                // /.form check
                .border-top.mt-3.d-flex.justify-content-between.pt-2
                    button(class="btn btn-encuesta") Atrás
                    button(class="btn btn-encuesta") Siguiente
            // /#step-3
            #step-4.tab-pane.fade(role='tabpanel' aria-labelledby='step-4-tab')
                h4.fs-5.fw-normal.text-primary-dark.pb-2 2. ¿Pregunta 4?
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi nunca
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | En ocasiones
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Con frecuencia
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Casi siempre
                .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                        | Siempre
                // /.form check
                .border-top.mt-3.d-flex.justify-content-between.pt-2
                    button(class="btn btn-encuesta") Atrás
                    button(class="btn btn-encuesta") Siguiente
                    // /.form check
                .border-top.mt-3.d-flex.justify-content-between
                    button(class="btn btn-encuesta") Atrás
                    button(class="btn btn-encuesta") Siguiente
            // /#step-4
            #step-5.tab-pane.fade(role='tabpanel' aria-labelledby='step-5-tab')
                .well
                    | Respuesta
            // /#step-5
        // /.tab-content
    // /form
// /.entry-encuesta