.col-xl-10.col-xxl-9.mx-auto.text-center.py-5.d-overflow.entry-slider
    // start .swiper-container
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                picture
                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
                    source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
                    img(src="/assets/images/slide-1_w_470.jpg" alt="Descripci贸n Imagen" class="img-fluid swiper-lazy")
                    .swiper-lazy-preloader
                    span.blockquote-footer Quidam officiis similique sea ei
            // /.swiper-slide
            .swiper-slide
                picture
                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
                    source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
                    img(src="/assets/images/slide-2_w_470.jpg" alt="Descripci贸n Imagen" class="img-fluid swiper-lazy")
                    .swiper-lazy-preloader
                    span.blockquote-footer Quidam officiis similique sea ei
            .swiper-slide

                picture
                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-1_w_470.jpg")
                    source(media="(max-width: 576px)" srcset="/assets/images/slide-1_w_375.jpg")
                    img(src="/assets/images/slide-1_w_470.jpg" alt="Descripci贸n Imagen" class="img-fluid swiper-lazy")
                    .swiper-lazy-preloader
                    span.blockquote-footer Quidam officiis similique sea ei
            // /.swiper-slide
            .swiper-slide
                picture
                    source(media="(min-width: 575.98px)" srcset="/assets/images/slide-2_w_470.jpg")
                    source(media="(max-width: 576px)" srcset="/assets/images/slide-2_w_375.jpg")
                    img(src="/assets/images/slide-2_w_470.jpg" alt="Descripci贸n Imagen" class="img-fluid swiper-lazy")
                    .swiper-lazy-preloader
                    span.blockquote-footer Quidam officiis similique sea ei
            // /.swiper-slide
        // navigation swiper      
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination
        // /.swiper-wrapper
    //  /.swiper-container
// /.entry-slider