section.entry-slider
	.swiper-container-hero
		.swiper-wrapper
			.swiper-slide.overlay.overlay-40
				.d-grid
					picture
						source(media="(min-width: 1280px)" srcset="/assets/images/ambiente-hero_w_1200x640.jpg")
						source(media="(max-width: 1279.98px)" srcset="/assets/images/ambiente-hero_w_375x187@2x.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/ambiente-hero_w_375x187.jpg")
						img(src="/assets/images/ambiente-hero_w_375x187@2x.jpg" alt="Descripci贸n Imagen" class="swiper-lazy")
						.swiper-lazy-preloader
					.swiper-slide--body.d-flex.align-items-center.mx-auto
						.swiper-slide-body.col-lg-8.col-md-10
							.container
								.entry-date.pe-4.text-white
									|Febrero 20,2021
								.entry-slide-title.mb-3
									|Un Hogar ordenado, mejora tu vida
								.entry-slide-resumen.text-white.lh-sm
									|Hoy los hilos se entrelazan y se crea un mensaje comunal que nos identifica esta es la entradilla  o resumen del articulo y se crea un mensaje comunal que nos identifica. 
								a(href="/blog/pages/entrada.html" class="btn btn-outline-primary btn-outline-primary--white mt-5 ") Continuar Leyendo
									span

			// /.swiper-slide
			.swiper-slide.overlay.overlay-20
				.d-grid
					picture
						source(media="(min-width: 1280px)" srcset="/assets/images/ambiente3-hero_w_1200x640.jpg")
						source(media="(max-width: 1279.98px)" srcset="/assets/images/ambiente3-hero_w_375x187@2x.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/ambiente3-hero_w_375x187.jpg")
						img(src="/assets/images/ambiente-hero2_w_375x187@2x.jpg" alt="Descripci贸n Imagen" class="swiper-lazy")
						.swiper-lazy-preloader
					.swiper-slide--body.d-flex.align-items-center.mx-auto
							.swiper-slide-body.col-lg-8.col-md-10
								.container
									.entry-date.pe-4.text-white
										|Febrero 20,2021
									.entry-slide-title.mb-3
										|Un Hogar ordenado, mejora tu vida
									.entry-slide-resumen.text-white.lh-sm
										|Hoy los hilos se entrelazan y se crea un mensaje comunal que nos identifica esta es la entradilla  o resumen del articulo y se crea un mensaje comunal que nos identifica. 
									a(href="" class="btn btn-outline-primary btn-outline-primary--white mt-5 ") Continuar Leyendo
										span
			.swiper-slide.overlay.overlay-20
				.d-grid
					picture
						source(media="(min-width: 1280px)" srcset="/assets/images/ambiente2-hero_w_1200x640.jpg")
						source(media="(max-width: 1279.98px)" srcset="/assets/images/ambiente2-hero_w_375x187@2x.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/ambiente2-hero_w_375x187.jpg")
						img(src="/assets/images/ambiente-hero_w_375x187@2x.jpg" alt="Descripci贸n Imagen" class="swiper-lazy")
						.swiper-lazy-preloader
					.swiper-slide--body.d-flex.align-items-center.mx-auto
							.swiper-slide-body.col-lg-8.col-md-10
								.container
									.entry-date.pe-4.text-white
										|Febrero 20,2021
									.entry-slide-title.mb-3
										|Un Hogar ordenado, mejora tu vida
									.entry-slide-resumen.text-white.lh-sm
										|Hoy los hilos se entrelazan y se crea un mensaje comunal que nos identifica esta es la entradilla  o resumen del articulo y se crea un mensaje comunal que nos identifica. 
									a(href="" class="btn btn-outline-primary btn-outline-primary--white mt-5 ") Continuar Leyendo
										span
			// /.swiper-slide
			.swiper-slide.overlay.overlay-20
				.d-grid
					picture
						source(media="(min-width: 1280px)" srcset="/assets/images/ambiente-hero_w_1200x640.jpg")
						source(media="(max-width: 1279.98px)" srcset="/assets/images/ambiente-hero_w_375x187@2x.jpg")
						source(media="(max-width: 576px)" srcset="/assets/images/ambiente-hero_w_375x187.jpg")
						img(src="/assets/images/ambiente-hero_w_375x187@2x.jpg" alt="Descripci贸n Imagen" class="swiper-lazy")
						.swiper-lazy-preloader
					.swiper-slide--body.d-flex.align-items-center.mx-auto
							.swiper-slide-body.col-lg-8.col-md-10
								.container
									.entry-date.pe-4.text-white
										|Febrero 20,2021
									.entry-slide-title.mb-3
										|Un Hogar ordenado, mejora tu vida
									.entry-slide-resumen.text-white.lh-sm
										|Hoy los hilos se entrelazan y se crea un mensaje comunal que nos identifica esta es la entradilla  o resumen del articulo y se crea un mensaje comunal que nos identifica. 
									a(href="" class="btn btn-outline-primary btn-outline-primary--white mt-5 ") Continuar Leyendo
										span
			// /.swiper-slide
		// navigation swiper      
		.swiper-button-next
		.swiper-button-prev
		.swiper-pagination
		// /.swiper-wrapper
	// end /.swiper-container	
// /.entry-slider


