.col-xl-10.col-xxl-9.mx-auto.text-center.py-30.entry-taggd
    picture
        source(media="(min-width: 1280px)" srcset="/assets/images/img-tagged_w_1280.jpg")
        source(media="(max-width: 1279.98px)" srcset="/assets/images/img-tagged_w_375@2x.jpg")
        source(media="(max-width: 576px)" srcset="/assets/images/img-tagged_w_375.jpg")
        img.img-fluid.rounded-1(src='/assets/images/img-tagged_w_375@2x.jpg' id="example-basic" alt='Leyenda de la imagen' loading="lazy")
        span.blockquote-footer Leyenda de la imagen
// /.entry-taggd