
// -----------------------------------------------------------------------------
// This file contains custom scss homepage.
// -----------------------------------------------------------------------------

.entry{
	&-slider{
		.btn-outline-primary{
			span{
				&::after{
					content: url(/assets/images/icons/icon-next-white.svg);
					right: 0;
					margin-left: 1rem;
				}

			}
		}
	}
	&-relacionadas{
		@media (max-width: $break-md) {
				text-align: center
			}
	}
	&-loop{
		.card{
	    	&:hover{
	    		.card-image img{
					transform: scale(1.08);
				}
	    	}
	    	h6{
	    		letter-spacing: 2px;
	    		margin-bottom: 1rem;
	    	}
	    	h2{
	    		position:relative;
	    		display: inline-block;
	    		&::before{
	    			content: '';
	    			background:var(--bs-orange);
	    			height: 3px;
	    			width: 100%;
	    			position: absolute;
	    			bottom:-1rem;
	    			left: 0;
	    		}
	    	}
	    	a{
	    		font-size: $size-24;
	    		&:hover{
	    			text-decoration: none;
	    		}
	    	}
	    	&-body{
	    		transition: all 0.3s ease-in-out;
	    	}
	    	.card-image{
	    		object-fit: cover;
	    		overflow: hidden;
	    		border-radius: 3px;
	    		img{
	    			height: auto;
	    			transition: all 0.3s ease-in-out;
	    		}
	    		+ div{
	    			z-index: 12;
	    		}
	    	}
	    }
	}
	&-aldia{
		.entry-date{
			&::before{
				content: url(/assets/images/icons/icon-date-light.svg);
			}
		}
		.card-title{
			font-size: $size-22;
			font-weight:400;
			line-height: 1.2;
			+ a{
				font-size: $size-15;
				font-weight:500;
				span{
					&::after{
						content: url(/assets/images/icons/icon-next-white.svg);
						right: 0;
						margin-left: 1rem;
					}

				}
			}
		}
		.entry-autor{
			+ a{
				font-size: $size-15;
				font-weight:500;
				span{
					&::after{
						content: url(/assets/images/icons/icon-next-white.svg);
						right: 0;
						margin-left: 1rem;
					}

				}
			}
		}
		.card-image {
			+ .d-flex{
				z-index: 1;
			}
			img{
				position:relative;
				z-index: 0;
				transition: all 0.3s ease-in-out;
			}
		}
		.overlay{
			&::before{
				z-index: 1;
			}
		}
		.card{
			&:hover{

				.card-image img{
					transform: scale(1.08);
					position:relative;

				}
			}
		}

	}
	&-pills{
		.nav{
			@media (max-width: $break-md) {
				padding-left: calc(var(--bs-gutter-x)/ 2)
			}
		}
		#pills-tab{
			button{
				&.active{
					color: $color-negro-0 !important;
				}
			}
		}
		.card{
			.card-title{
				font-size: $size-20;
				color:var(--bs-primary-dark);
				line-height: 1.2;
			}
			.entry-autor{
				+ a{
					font-size: $size-15;
					font-weight:500;
					span{
						&::after{
							content: url(/assets/images/icons/icon-next-blue.svg);
							right: 0;
							margin-left: 1rem;
						}

					}
				
				}
			}
		}
	}
	&-form{
		@media (max-width: $break-md) {
			padding-top:0;
		}
		.form-label{
			font-size: $size-14;
			color: var(--bs-gray-dark);
			margin-bottom: 3px;
		}
		.form-check{
			font-size: $size-15;
			color: var(--bs-gray-dark);
			margin-bottom: 3px;
		}
		input{
			&::placeholder{
				color:$color-negro-30;
			}
		}
		&--img{
			top:-$size-45;
			left: 0
		}
	}
}

