
// -----------------------------------------------------------------------------
// This file contains custom scss page.
// -----------------------------------------------------------------------------
.entry{
	&-productos,
	&-relacionadas{
		&--title{
			color:var(--bs-primary-dark);
			.badge{
				font-size:$size-12;
			}
		}
		.card{
			text-align: left;
			&-title{
				font-size: $size-22;
				color:var(--bs-primary-dark);
				line-height: 1.1;
				a{
					font-size: $size-22;
					color:var(--bs-primary-dark);
					line-height: 1.1;
					&:hover{
						text-decoration: none;
					}
				}
			}
			&-subtitle{
				text-transform: uppercase;
				font-size: $size-12;
				color:var(--bs-primary);
				line-height: 1;
			}
			&-text{
				font-size: $size-14;
				color:var(--bs-gray-dark);
			}
			&-footer{
				background-color: transparent;
			}
			img,
			.card-body{
				transition: all 0.3s ease-in-out;
			}

		}
	}
	&-repository-grid{
		@media (max-width: $break-md) {
			margin-bottom:0rem !important;
		}
		.card{
			&-title{
				font-size: $size-20;
				color:var(--bs-primary-dark);
				line-height: 1.1;
					a{
						font-size: $size-20;
						color:var(--bs-primary-dark);
						line-height: 1.1;
						&:hover{
							text-decoration: none;
						}
					}
			}
			&-image{
				img{
					transition: all 0.3s ease-in-out;
				}
			}
			&:hover{

				.card-image img{
					transform: scale(1.08);
					position:relative;

				}

			}
			.entry-autor{
				+ a{
					font-size: $size-15;
					font-weight:500;
					span{
						&::after{
							content: url(/assets/images/icons/icon-next-blue.svg);
							right: 0;
							margin-left: 1rem;
						}

					}
					&:hover{
						color:var(--bs-primary);
						text-decoration: none;
						border-bottom: 1px solid var(--bs-primary-dark)
					}
				}
			}
		}
		.row{
			@media (max-width: $break-md) {
				div:last-child{
					border-bottom:0 !important;
				}
			}

		}
	}
	&-repository--tags{
		@media (max-width: $break-md) {
			padding-bottom: 0.1rem;
		}
	}
	&-all-repository--tags {
		@media (max-width: $break-md) {
			padding-top: 1rem;
		}
	}
	&-relacionadas{
		.card{
			&:hover{

				.card-image img{
					transform: scale(1.08);
					position:relative;

				}

			}
		}
		.progress-num{
			font-size: $size-14;
			font-weight: 300;
			color:$color-negro-50;
		}
		.progress{
			position: relative;
			height: 0.7rem;
			background-color:$color-negro-0;
			.progress-bar{
			}

		}

	}
	&-pager{
		@media (max-width: $break-md) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

}
@media (max-width: $break-md) {
	.entry-tags{
		+ .entry-share{
			border-top:1px solid var(--bs-light-120);
			padding-top: 1rem;
		}
	}
}

